/*Section Experiencia*/
.subtitulo {
  color: #ccb0ab;
  margin-bottom: 24px;
  letter-spacing: 1px;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.empresa {
  display: block;
  padding: 20px;
  background: #000000;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}
.empresa-texto {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #fef5f5;
  flex: 1;
}

.experiencia-titulo {
  font-size: 1.25rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: 1.1;
  font-weight: bold;
  color: #ccb0ab;
  font-family: "Playfair Display", serif;
}

.experiencia-texto {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #fef5f5;
}

.empresa-habilidades {
  display: flex;
  gap: 10px;
  margin: 10px 0px 10px 0px;
  align-items: start;
}

.empresa-habilidades li {
  line-height: 1.4;
  font-weight: bold;
  border-radius: 4px;
  background: #1b1b1b;
  color: #ccb0ab;
  padding: 5px 10px;
  font-size: 1.125rem;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ccb0ab, #94716b);
  position: absolute;
  top: 20px;
  left: -4px;
}

@media (max-width: 767px) {
  .empresa-habilidades li {
    font-size: 1rem;
}
  .experiencia {
    grid-template-columns: 2fr;
    gap: 40px;
  }
  .empresa-titulo,
  .experiencia-titulo {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  .experiencia-texto,
  .empresa-titulo {
    font-size: 1rem;
  }
}
