/*Geral*/
html, body {
  overflow-x: hidden;
}
body {
  background-color: #010101;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: #fef5f5;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 60px;
}


.img-fundo{
  position: absolute;
    bottom: 0px;
    left: 0px;
    filter: blur(300px);
    z-index: -1;
    mix-blend-mode: screen;
    pointer-events: none;
    opacity: 0.25;
    animation: girablob 20s infinite linear;
}
.img-fundo2 {
  position: absolute;
  top: 1300px;
  right: 0px;
  filter: blur(300px);
  z-index: -1;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 0.25;
  animation: girablob 20s infinite linear;
}
.img-fundo3 {
  position: absolute;
  top: 3160px;
  right: 0px;
  filter: blur(300px);
  z-index: -1;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 0.25;
  animation: girablob 20s infinite linear;
}

@keyframes girablob {
  0% {
      transform: rotate(0deg);
      opacity: 0.25;
  } 49%, 51%, 53%, 55%, 57% {
      opacity: 0.25;
  } 50%, 52%, 54%, 56% {
      opacity: 0;
  } 100% {
      opacity: 0.25;
      transform: rotate(360deg);
  }
}
.subtitulo {
  color: #fef5f5;
  margin-top: 100px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1023px){
  .container {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .subtitulo{
    font-size: 30px !important;
    margin-top: 60px;
  margin-bottom: 40px
  }
  .img-fundo {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(140px);
    z-index: -1;
    mix-blend-mode: screen;
    pointer-events: none;
    opacity: 0.25;
    animation: girablob 20s infinite linear;
}
.img-fundo2 {
  position: absolute;
  top: 1300px;
  right: 0px;
  filter: blur(100px);
  z-index: -1;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 0.25;
  animation: girablob 20s infinite linear;
}
.img-fundo3 {
  position: absolute;
  top: 3160px;
  right: 0px;
  filter: blur(100px);
  z-index: -1;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 0.25;
  animation: girablob 20s infinite linear;
}
}
