/*Header*/

#header {
  max-width: 1280px;
    margin: 0 auto;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-mobile, #close-menu{
  display: none;
}
.header-menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #fef5f5;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
}

header a {
  border-radius: 10px;
}

.header-menu a:hover {
  background: #1b1b1b;
  color: #fef5f5;
}
.logo img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#logo-menu{
  display: none;
}

@media screen and (max-width: 1023px) {
  .logo img {
    margin-bottom: 0;
}

#logo-menu img{
  margin-top: 25px;
}
  #menu {
    display: block;
    position: fixed;
    width: 100vw; 
    top: 0;
    left: -100vw;
    background-color: #000000;
    height: 100%; 
    z-index: 1000;
    transition: left 0.5s ease; 
    overflow-y: auto; 
  }

  #nav.active #menu {
    left: 0; 
    visibility: visible;
  }

  #menu a {
    display: block;
    padding: 0 20px 20px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  #menu a:hover {
    background-color: #333333;
  }

  #btn-mobile {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    display: block;
    border-top: 3px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background-color: currentColor;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  /* Estilo para o botão de fechar */
  #close-menu {
    display: block;
    position: absolute;
    padding: 25px;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}
}


@media screen and (max-width: 980px) {
  .header-menu a {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    gap: initial;
  }
  .header-menu a {
    padding: 10px 15px 10px 5px;
  }
  .header-menu a:hover {
    background: none;
    color: #fef5f5;
  }
  
  #menu a {
    padding: 0 20px 20px 20px;

  }
  
}



