/*Section projetos*/

.projetos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.projeto {
  padding: 20px;
  background: #000000;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.projeto-titulo {
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.1;
  font-weight: 600;
  color: #ccb0ab;
  margin-bottom: 10px;
}

.tecnologia-titulo {
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.1;
  font-weight: 500;
  color: #ccb0ab;
}

.tecnologias-utilizadas {
  display: flex;
  gap: 10px;
  align-items: start;
  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
}

.tecnologias-utilizadas li {
  font-size: 1.125rem;
  line-height: 1.4;
 font-weight: 500;
  border-radius: 4px;
  background: #1b1b1b;
  color: #ccb0ab;
  padding: 5px 10px;
}

.projeto-texto {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #fef5f5;
  flex: 1;
  margin-bottom: 16px;
}

.projeto a {
  text-decoration: none;
  max-width: max-content;
}

.projeto::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ccb0ab, #94716b);
  position: absolute;
  top: 20px;
  left: -4px;
}

.habilidades h2 {
  color: #ccb0ab;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.button {
  font-size: 1rem;
  line-height: 1.4;
 font-weight: 700;
  border-radius: 4px;
  background: #ccb0ab;
  color: #000000;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: #a0827d;
}

@media screen and (max-width: 767px) {
  .projetos-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .projetos {
    grid-template-columns: 2fr;
    gap: 40px;
  }
  .projeto-titulo,
  .tecnologia-titulo {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  .tecnologias-utilizadas li,
  .projeto-texto,
  .button {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .projeto {
    grid-template-columns: 1fr;
  }
}