/*Section sobre*/
.sobre p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.sobre p:nth-last-child(1){
  margin-top: 20px;
}

.sobre strong {
  color: #ccb0ab;
}

@media (max-width: 767px) {
  .sobre p {
    font-size: 1rem;
  }
}
