/*Section sobre*/
.sobre {
  margin-top: 100px;
  background-color: #30303059;
  overflow: hidden;
}

.sobre-container {
  max-width: 100%;
  padding-left: 60px ;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sobre-img img {
  height: 100%;
  object-fit: cover;
}

.sobre-text {
  padding: 40px 40px 40px 0px;
  align-self: center;
  justify-self: end;
}

.sobre-text strong {
  background: linear-gradient(90deg, #FA12E3, #7312FA, #415CA7);
  -webkit-background-clip: text;
  color: transparent;
}

.sobre h2 {
  color: #fef5f5;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

.sobre h3 {
  color: #fef5f5;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

.sobre p {
  font-size: 1.125rem;
  line-height: 1.4;
}

.sobre p:nth-last-child(1) {
  margin-top: 20px;
}

button.button.button-sobre {
  width: 200px;
  margin-top: 40px;
  padding: 16px;
 
}

@media only screen and (min-width: 1440px) {
  .sobre-container {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    padding: 0 60px;
    grid-template-columns: 2fr 1fr;
  }

  .sobre-text {
    padding: 40px 40px 40px 0px;
}
}

@media only screen and (max-width: 1023px) {
  .sobre-container {
    padding: 0;
    grid-template-columns: 1fr;
  }

  .sobre-text {
    padding: 60px 20px;
    align-self: center;
  }

  .sobre p {
    max-width: initial;
  }

  .sobre-img img {
    height: 740px;
    object-fit: cover;
    object-position: top;
  }


}

@media (max-width: 767px) {
  .sobre {
    margin-top: 60px;
  }

  .sobre-container {
    padding: 0;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .sobre-text {
    padding: 60px 20px;
    align-self: center;
  }

  .sobre h2 {
    font-size: 30px;
  }

  .sobre h3 {

    font-size: 18px;
  }

  .sobre-img img {
    height: 450px;
    object-fit: cover;
    object-position: top;
  }

  .sobre p {
    font-size: 1rem;
    max-width: initial;
  }
}