/*intrducao*/
.introducao img {
  max-width: 100%;
  border-radius: 50%;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.introducao h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}

.introducao h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.introducao strong {
  color: #ccb0ab;
}

.contatos-contato {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.contatos-contato li {
  width: 50px;
}

.contatos-contato img {
  border-radius: initial;
}

.contatos-contato img {
  transition: transform 0.5s ease-out;
}

.contatos-contato img:hover {
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .introducao img {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h2 {
    font-size: 1.5rem;
  }
}
