body {
    background-color: #fddada;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #33272A;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.header .logo {
    background: none;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #fddada;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

header a {
    background: #DC9D9D;
    border-radius: 10px;
}

.header-menu a:hover {
    background: #ba25529b;
    color: #fddada;
}

@media (max-width:800px) {
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

}

.container {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.introducao {
    align-items: center;
}

.introducao h1 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
    position: relative;
    color: #33272A;
    font-family: 'Playfair Display', serif;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(./Imagens/detalhe.svg) no-repeat center;
    position: absolute;
    top: -20px;
    left: -60px;
    z-index: -1;
}

.introducao p {
    font-size: 40px;
    color: #33272A;
    text-align: center;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 60px;
    }


}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1rf 1rf;
        gap: 40px;
        font-size: 40px;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        margin-left: 0px;
    }

    .introducao p {
        font-size: 28px;
        color: #33272A;
        text-align: center;
    }

    .introducao h1 {
        font-size: 60px;
        color: #33272A;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1rf;
        display: block;
    }

    .introducao img {
        display: inline;
        margin-bottom: 40px;
    }

    .introducao h1::before {
        display: none;
    }
}

.subtitulo {
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}

.projeto a {
    text-decoration: none;
}

.projeto a h3:hover {
    color: #6409259b;
}

.experiencia .subtitulo,
.projetos .subtitulo {
    color: #33272A;
}

.experiencia-texto strong,
.projetos-texto strong {
    color: #33272A;
}

.empresa,
.projeto,
.faculdade {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: #eab6b6;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

@media(max-width:800px) {

    .empresa,
    .projeto,
    .faculdade {
        grid-template-columns: 1fr;
    }

    span.projeto-titulo,
    span.faculdade-titulo {
        display: none;
    }
    .empresa-habilidades,
    .conclusao-instituicao{
        order: -1;
    }
    
}

.empresa::before,
.projeto::before,
.formacao::before,
.faculdade::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#d58b8b, #ba25529b);
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-ano,
.projeto-ano {
    position: absolute;
    top: 22px;
    left: -100px;
    text-align: right;
    width: 80px;
    font-size: 14px;
    color: #7CB5E0;
    font-weight: bold;
}

.empresa-titulo,
.projeto-titulo,
.experiencia-titulo,
.formacao-titulo,
.faculdade-titulo,
.faculdade-tipo {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.1;
    font-weight: bold;
    color: #ba25529b;
    font-family: 'Playfair Display', serif;
}

@media (max-width:800px) {

    .projeto-titulo,
    .formacao-titulo,
    .faculdade-titulo,
    .faculdade-tipo {
        font-size: 18px;
        letter-spacing: 0.5px;
        
    }

    .empresa-titulo,
    .experiencia-titulo {
        font-size: 18px;
        letter-spacing: 0.5px;
    }   
    span.experiencia-titulo{
        font-size: 15px;
    }
}

.empresa-texto,
.projeto-texto,
.experiencia-texto,
.formacao-texto,
.faculdade-curso {
    font-size: 15px;
    line-height: 1.4;
    color: #33272A;
    font-weight: 600;
}

.formacao-texto {
    padding-bottom: 20px;
}

.empresa-habilidades,
.conclusao-instituicao {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: start;
}

.empresa-habilidades li,
.conclusao-instituicao li {
    font-size: 15px;
    line-height: 1.4;
    font-weight: bold;
    border-radius: 4px;
    background: #f9cfcf;
    padding: 5px 10px;
}

@media (max-width: 800px) {

    .experiencia,
    .projetos,
    .formacao {
        grid-template-columns: 2fr;
        gap: 40px;
    }

    .subtitulo {
        font-size: 48px;
        text-transform: capitalize;
        max-width: initial !important;

    }


    .projetos-texto {
        font-size: 1.25rem;
    }

    .empresa-ano,
    .projeto-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
        color: #7CB5E0;
    }
}

@media (max-width: 400px) {
    .empresa {
        grid-template-columns: 1fr;
    }

    .projeto {
        grid-template-columns: 1fr;
    }

    .faculdade {
        grid-template-columns: 1fr;
    }
}

.button {
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
    border-radius: 4px;
    background: #ba25529b;
    color: #eab6b6;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

}

.button:hover {
    background: #d23b689b;
}

.formacao {
    background: #f9cfcf;
}

.formacao .subtitulo,
.projetos .subtitulo,
.experiencia .subtitulo {
    color: #33272A;
    margin-bottom: 24px;
}

.experiencia-container,
.projetos-container,
.formacao-container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    gap: 100px;
}

.formacao-teto {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.faculdade-lista {
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.faculdade-tipo {
    font-size: 18px;
}

.faculdade-instituicao {
    font-size: 1.125rem;
}

.cursos {
    margin-bottom: 60px;
}

.formacao-extra h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #ba25529b;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.formacao-extra li {
    font-size: 15px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: bold;
}

.formacao-extra span {
    color: #33272A;

}

.cursos li {
    display: flex;
    justify-content: space-between;
}

@media (max-width:800px) {
    .formacao-container {
        grid-template-columns: 1fr;
        padding: 20px 20px;
        gap: 40px;

    }
}
    .footer {
        background: #F9CFCF;
    }

    .footer-container {
        max-width: 1200px;
        padding: 40px 20px 20px 20px;
        margin: 0 auto;
        gap: 100px;
    }

    .footer-contato {
        display: flex;
        gap: 20px;
        padding: 40px 0px;
        justify-content: center;

    }

    .footer-contato li {
        width: 50px;

    }

    .footer-copy {
        font-size: 15px;
        line-height: 1.33;
        color: #ba25529b;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }


