body {
  background-color: #1b1b1b;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #fef5f5;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #ccb0ab;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

header a {
  border-radius: 10px;
}

.header-menu a:hover {
  background: #000000;
  color: #fef5f5;
}

@media screen and (min-width: 626px) and (max-width: 745px) {
  .header {
    display: block;
  }
  .header-menu {
    margin-top: 20px;
  }
}

@media (max-width: 625px) {
  .header {
    gap: 20px;
    align-items: center;
    padding: 20px;
    flex-wrap: nowrap;
  }

  .header-menu {
    gap: initial;
  }

  .header-menu a {
    font-size: 16px;
    padding: 10px 15px 10px 5px;
  }

  .header-nav-menu {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
  }
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.introducao img {
  max-width: 100%;
  height: auto;
}
.introducao p {
  font-size: 16px;
  line-height: 30px;
  position: relative;
  color: #fef5f5;
}

.introducao strong {
  color: #ccb0ab;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1rf 1rf;
    gap: 40px;
    font-size: 40px;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    margin-left: 0px;
  }

  .introducao p {
    font-size: 16px;
    color: #fef5f5;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1rf;
    display: block;
  }

  .introducao img {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 800px;
  }

  .introducao h1::before {
    display: none;
  }
}

.subtitulo {
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.projeto a {
  text-decoration: none;
}

.experiencia .subtitulo,
.projetos .subtitulo {
  color: #fef5f5;
}

.experiencia-texto strong,
.projetos-texto strong {
  color: #fef5f5;
}

.empresa,
.projeto,
.faculdade {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #000000;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 800px) {
  .empresa,
  .projeto,
  .faculdade {
    grid-template-columns: 1fr;
  }

  span.projeto-titulo,
  span.faculdade-titulo {
    display: none;
  }

  .empresa-habilidades,
  .conclusao-instituicao {
    order: -1;
  }
}

.empresa::before,
.projeto::before,
.formacao::before,
.faculdade::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ccb0ab, #94716b);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano,
.projeto-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  font-size: 14px;
  color: #7cb5e0;
  font-weight: bold;
}

.empresa-titulo,
.projeto-titulo,
.experiencia-titulo,
.formacao-titulo,
.faculdade-titulo,
.faculdade-tipo {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.1;
  font-weight: bold;
  color: #ccb0ab;
  font-family: "Playfair Display", serif;
}

@media (max-width: 800px) {
  .projeto-titulo,
  .formacao-titulo,
  .faculdade-titulo,
  .faculdade-tipo {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .empresa-titulo,
  .experiencia-titulo {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  span.experiencia-titulo {
    font-size: 16px;
  }
}

.empresa-texto,
.projeto-texto,
.experiencia-texto,
.formacao-texto,
.faculdade-curso {
  font-size: 16px;
  line-height: 1.4;
  color: #fef5f5;
}

.formacao-texto {
  padding-bottom: 20px;
}

.empresa-habilidades,
.conclusao-instituicao {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
}

.empresa-habilidades li,
.conclusao-instituicao li {
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
  border-radius: 4px;
  background: #1b1b1b;
  color: #ccb0ab;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia,
  .projetos,
  .formacao {
    grid-template-columns: 2fr;
    gap: 40px;
  }

  .subtitulo {
    font-size: 48px;
    text-transform: capitalize;
    max-width: initial !important;
  }

  .projetos-texto {
    font-size: 1.25rem;
  }

  .empresa-ano,
  .projeto-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    color: #7cb5e0;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }

  .projeto {
    grid-template-columns: 1fr;
  }

  .faculdade {
    grid-template-columns: 1fr;
  }
}

.button {
  font-size: 14px;
  line-height: 1.4;
  font-weight: bold;
  border-radius: 4px;
  background: #ccb0ab;
  color: #000000;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: #a0827d;
}

.formacao .subtitulo,
.projetos .subtitulo,
.experiencia .subtitulo {
  color: #ccb0ab;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.experiencia-container,
.projetos-container,
.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  gap: 100px;
}

.formacao-teto {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.faculdade-lista {
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.faculdade-tipo {
  font-size: 18px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #ccb0ab;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra li {
  font-size: 15px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: bold;
}

.formacao-extra span {
  color: #fef5f5;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 20px 20px;
    gap: 40px;
  }
}

.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 40px 20px 20px 20px;
  margin: 0 auto;
  gap: 100px;
}

.footer-contato {
  display: flex;
  gap: 20px;
  padding: 40px 0px;
  justify-content: center;
}

.footer-contato li {
  width: 50px;
}

.footer-copy {
  font-size: 12px;
  line-height: 1.33;
  color: #fef5f5;
  text-align: center;
}

.footer-copy strong {
  color: #ccb0ab;
  font-size: 14px;
}
