/*Seção faixa*/
.faixa {
    height: 92px;
}

.faixa1 {
    background: linear-gradient(90deg, #FA12E3, #7312FA, #415CA7);
    transform: rotate(3deg);
    width: 110%;
    margin-top: -30px;
    margin-bottom: -6px;
    z-index: 2;
    position: relative;
}

.faixa2 {
    background: linear-gradient(90deg, #FA12E3, #7312FA);
    transform: rotate(-3deg) translateY(-110px);
    z-index: 1;
    width: 110%;
    opacity: 0.4;
    filter: blur(3px);
}


.text-wrapper p {
    font-family: 'Poppins' !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #fff;
}

.text-wrapper p:before {
    content: '•';
    margin: 0 16px;
}

.text-wrapper {
    display: flex;
    padding: 15px;
    text-align: right;
}

.text-wrapper p {
    font-family: "Unbounded";
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
}

#text-wrapper1 {
    animation: animafaixa 15s infinite linear;
}

#text-wrapper2 {
    animation: animafaixa 15s infinite linear reverse;
}



@keyframes animafaixa {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}



@media only screen and (max-width:767px) {
    .faixa1 {
        margin-top: 30px;
        margin-bottom: 14px;

    }
}