/*footer*/
.footer {
    background-color: #010101;
    margin-top: 100px;
    border: 1px solid;
    /* Define a espessura da borda */
    border-image: linear-gradient(90deg, #010101, #303030, #010101) 1;
    /* O valor "1" é a escala do degradê ao longo da borda */
}

.footer__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 60px;
    border-top: 1px;
    border-color: #FA12E3;
}

.footer__copy {
    font-size: 1rem;
    line-height: 1.33;
    color: #fef5f5;
    text-align: center;
}

.footer__copy strong {
    background: linear-gradient(90deg, #FA12E3, #7312FA, #415CA7);
    -webkit-background-clip: text;
    color: transparent;
}

.footer_img {
    margin: 0 auto;
    margin-bottom: 8px;
}

/* Seção botão voltar ao topo  */
.btn-top a {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #FA12E3, #7312FA, #415CA7);
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(40px);
    cursor: pointer;
}


.btn-top.show a {
    display: flex;
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
    transform: translateY(0);
}

@media only screen and (max-width: 1023px) {
    .footer__container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 12px 20px;
    }
}