/* Section sobre */
.sobre {
    margin-top: 100px;
    background-color: #30303059;
    overflow: hidden;
}

.sobre__container {
    max-width: 100%;
    padding-left: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sobre__textos {
    padding: 40px 40px 40px 0px;
    align-self: center;
    justify-self: end;
}

.sobre__textos strong {
    background: linear-gradient(90deg, #FA12E3, #7312FA, #415CA7);
    -webkit-background-clip: text;
    color: transparent;
}

.sobre__titulo-principal {
    color: #fef5f5;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
}

.sobre p {
    font-size: 1.125rem;
    line-height: 1.4;
    color: #bdbdbd;
}

.sobre__paragrafo {
    margin-bottom: 40px;
}

.sobre__titulo-secundario {
    color: #fef5f5;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
}

.sobre__button {
    width: 200px;
    margin-top: 40px;
    padding: 16px;
}

.sobre__img img {
    height: 100%;
    object-fit: cover;
}

/* Media Queries */

/* Mobile - até 480px */
@media (max-width: 480px) {
    .sobre__img img {
        height: 400px;
        object-fit: cover;
        object-position: top;
    }
}

/* Tablets - entre 481px e 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .sobre__img img {
        height: 600px;
        object-fit: cover;
        object-position: top;
    }
}

/* Tablets grandes - entre 768px e 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .sobre__img img {
        height: 690px;
        object-fit: cover;
        object-position: top;
    }
}

/* Desktop médio - entre 992px e 1023px */
@media (min-width: 992px) and (max-width: 1023px) {
    .sobre__img img {
        height: 710px;
        object-fit: cover;
        object-position: top;
    }
}

/* Ajustes para telas menores que 767px */
@media (max-width: 767px) {
    .sobre {
        margin-top: 60px;
    }

    .sobre__container {
        padding: 0;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .sobre__textos {
        padding: 60px 20px;
        align-self: center;
    }

    .sobre h2 {
        font-size: 30px;
    }

    .sobre h3 {
        font-size: 18px;
    }

    .sobre p {
        font-size: 1rem;
        max-width: initial;
    }
}

/* Ajustes gerais para telas até 1023px */
@media only screen and (max-width: 1023px) {
    .sobre__container {
        padding: 0;
        grid-template-columns: 1fr;
    }

    .sobre__textos {
        padding: 60px 20px;
        align-self: center;
    }

    .sobre p {
        max-width: initial;
    }
}

/* Ajustes para telas grandes - 1440px ou mais */
@media only screen and (min-width: 1440px) {
    .sobre__container {
        max-width: 1280px;
        margin: 0 auto;
        display: grid;
        padding: 0 60px;
        grid-template-columns: 2fr 1fr;
    }

    .sobre__textos {
        padding: 40px 40px 40px 0px;
    }
}